<%= javascript_import_module_tag "schedule_gacha" %>

<div class="text-center page-title mt-4">
    <h2 class="mx-1"><span id="schedule"><%= @schedule %></span>に合う名言は？</h2>
</div>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-6 text-center">
            <h3 class="text-typing mt-4">↓クリック！!</h3>
            <%= button_tag id: 'one-gacha-machine' do %>
                <%= image_tag 'ガチャ.png', class: 'img-fluid' %>
            <% end %>
            <div id="gacha-form-text" class="mt-2">
                <%= link_to "ガチャ結果を取得中..（約1分かかります）", meigen_take_out_path, method: :get, class: "btn btn-color btn-lg mb-2 disabled", id: "to-result" %>
            </div>
        </div>
    </div>
</div>